[remote "origin"]
    url = git@github.com:huangyingw/kubernetes-setup.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
    remote = origin
    merge = refs/heads/master
[push]
    remote = origin
[deploy]
    host = localhost
    path = ~/myproject/git/Kubernetes/kubernetes-setup/
[gsync]
    remote = origin
    branch = master
[gdif]
    ignore = readme
